@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* -----------------------GLOBAL KEYS-------------------------------- */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-image: url(../assets/images/background.jpg);
    background-color: rgb(37, 129, 63);
    background-size: auto;
    min-height: 100vh;

}

/* ----------------------------HEADER--------------------------------- */

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgba(201, 221, 23, 0.496);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.inner-header {
    width: 450px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgba(25, 85, 28, 0.647);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navigation {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a {
    display: table;
    padding: 0px 0px;
}

.navigation a:hover {
    color: rgb(13, 46, 116)
}

button {
    padding: 15px 10px;
    background-color: rgba(13, 46, 116, 0.907);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 400ms;
    transition-property: background-color, color;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    color: beige;
    cursor: pointer;
    margin: 0px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: rgba(245, 245, 220, 0.88);
    color: rgb(13, 46, 116);
}

.dropdown>button:focus {
    background-color: rgba(245, 245, 220, 0.88);
    color: rgb(13, 46, 116);
}

#fix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

/* -------------------------MAIN-------------------------------------------------- */

/* making a flexbox */
.flexbox-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flexbox-item {
    flex: 1 1 35%;
    margin: 20px;
    text-align: center;
}

.main {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    margin-bottom: 4em;
    background-color: rgb(246, 251, 229);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.ronnie {
    width: 25em;
    height: 33em;
    outline: 5px solid rgb(34, 112, 6);
}

.flexbox-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(50, 68, 137);
}

.lil-ronnie {
    width: 25em;
    height: 32em;
    outline: 5px solid rgb(34, 112, 6);
}

.gremio-pic {
    width: 27em;
    height: 40em;
    outline: 5px solid rgb(34, 112, 6);
}

.psg-pic {
    width: 28em;
    height: 29em;
    outline: 5px solid rgb(34, 112, 6);
}

.barca-pic {
    width: 30em;
    height: 37em;
    outline: 5px solid rgb(34, 112, 6);
}

.milan-pic {
    width: 27em;
    height: 38em;
    outline: 5px solid rgb(34, 112, 6);
}

.fla-pic {
    width: 27em;
    height: 38em;
    outline: 5px solid rgb(34, 112, 6);
}

.atl-pic {
    width: 33em;
    height: 23em;
    outline: 5px solid rgb(34, 112, 6);
}

.que-pic {
    width: 32em;
    height: 22em;
    outline: 5px solid rgb(34, 112, 6);
}

.index-p {
    text-align: justify;
    color: rgb(47, 45, 38);
    font-family: impact, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    vertical-align: center;
}

.lil-p {
    font-size: 15px;
}

.correct {
    width: 15em;
    height: 15em;
    outline: 5px solid rgb(34, 112, 6);
}

.thanks {
    color: rgb(18, 42, 75);
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
}

/* -------------------DROPDOWN MENU MEDIA QUERY FOR PC ----------------------*/
@media(pointer: fine) {

    .dropdown {
        position: relative;
    }

    .dropdown-menu {
        position: absolute;
        top: calc(100% + 1.9em);
        margin: -25px 0 0 -25px;
        text-align: center;
        border: none;
        font-family: 'Montserrat', 'sans-serif';
        font-size: 20px;
        font-weight: bold;
        color: rgb(13, 46, 116);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        opacity: 0;
        pointer-events: none;
    }

    .dropdown-touch {
        display: none;
    }

    .dropdown-menu-touch {
        display: none;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes movem {
        0% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .dropdown>button:focus {
        pointer-events: none;
    }

    .dropdown>button:focus+.dropdown-menu {
        pointer-events: auto;
        cursor: pointer;
        animation: fadein 400ms ease-out, movem 400ms ease-out;
        animation-fill-mode: both;
    }

    .dropdown-menu>p {
        padding: 15px 30px;
        width: 150px;
        background-color: rgb(245, 245, 220);
    }

    .dropdown-menu>p:hover {
        background-color: rgb(35, 66, 133);
        color: rgb(215, 211, 173);
    }

    hr {
        border: 0 none;
        display: block;
        width: 100%;
        background-color: #000000;
        height: 1.5px;
        clear: both;
    }

    .dropdown-menu a:hover {
        pointer-events: auto;
        color: rgb(215, 211, 173);

    }

    .dropdown-menu:hover {
        pointer-events: auto;
    }

    a:link,
    a:visited {
        display: inline-block;
        color: rgb(13, 46, 116);
        font-family: inherit;
    }

    .gremio:hover>.gremio-a {
        color: rgb(215, 211, 173);
    }

    .psg:hover>.psg-a {
        color: rgb(215, 211, 173);
    }

    .barca:hover>.barca-a {
        color: rgb(215, 211, 173);
    }

    .milan:hover>.milan-a {
        color: rgb(215, 211, 173);
    }

    .flamengo:hover>.flamengo-a {
        color: rgb(215, 211, 173);
    }

    .mineiro:hover>.mineiro-a {
        color: rgb(215, 211, 173);
    }

    .queretaro:hover>.queretaro-a {
        color: rgb(215, 211, 173);
    }
}

/* -------------------DROPDOWN MENU MEDIA QUERY FOR TOUCHSCREENS ----------------------*/

@media(pointer: coarse) {

    .dropdown {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

    .clubs {
        padding: 15px 10px;
        background-color: rgba(13, 46, 116, 0.907);
        border: none;
        border-radius: 10px;
        font-family: 'Montserrat', 'sans-serif';
        font-size: 20px;
        font-weight: bold;
        color: beige;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        transform: translateY(-50%, -50%);
        cursor: pointer;
    }

    .dropdown-touch {
        position: relative;
        transform: translateY(-2px);
    }

    .dropdown-menu-touch {
        position: absolute;
        top: calc(100% + 2.1em);
        margin: -25px 0 0 -25px;
        text-align: center;
        border: none;
        font-family: 'Montserrat', 'sans-serif';
        font-size: 20px;
        font-weight: bold;
        color: rgb(13, 46, 116);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        display: none;
        transform: translateY(15px);
        cursor: pointer;
    }

    .dropdown-touch>input[type="checkbox"]:checked+.dropdown-menu-touch {
        display: block;
    }

    .dropdown-menu-touch>p {
        padding: 15px 30px;
        width: 150px;
        background-color: rgb(245, 245, 220);
    }

    hr {
        border: 0 none;
        display: block;
        width: 100%;
        background-color: #000000;
        height: 1.5px;
        clear: both;
    }

    a:link,
    a:visited {
        display: inline-block;
        color: rgb(13, 46, 116);
        font-family: inherit;
    }

    input[type="checkbox"] {
        opacity: 0;
        display: none;
    }
}

/*------------------------- stylizing the form---------------------------- */

.main-contact {
    height: 100%;
}

.contact-box {
    padding: 30px;
}

.input-field {
    width: 50vw;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
}

.input-textarea {
    height: 200px;
    width: 50vw;
}

.contact-box .input-button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 48.5vw;
    font-size: 19px;
}


/* ----------------------------MAP---------------------------------------------------------- */
.map {
    width: 90%;
    height: 150px;
    margin-top: 20px;
}


/* ---------------------------FOOTER---------------------------------------------------- */


.footer {
    width: 100%;
    height: 80px;
    background-color: rgb(4, 21, 46);
    position: sticky;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: row;

}

.footer-text {
    color: beige;
}

.footer-icons {
    gap: 15px;
}

/* ----------------------------targeting phones--------------------------*/
@media only screen and (max-width: 500px) {
    .inner-header {
        width: 320px;
    }

    .header button {
        font-size: 11px;
        width: 90px;
    }

    .clubs {
        font-size: 11px;
    }

    .ronnie {
        width: 17em;
        height: 23em;
    }

    .lil-ronnie {
        width: 17em;
        height: 22em;
    }

    .gremio-pic {
        width: 17em;
        height: 25em;
    }

    .psg-pic {
        width: 19em;
        height: 20em;
    }

    .barca-pic {
        width: 17em;
        height: 22em;
    }

    .milan-pic {
        width: 17em;
        height: 24em;
    }

    .fla-pic {
        width: 17em;
        height: 22em;
    }

    .atl-pic {
        width: 18em;
        height: 13em;
    }

    .que-pic {
        width: 18em;
        height: 12em;
    }

    .flexbox-container h1 {
        font-size: 23px;
    }
}